.body_backgorund {
    background-image: url(hOye.gif);
    background-position: center;
    background-size: 110%;
}

#myCanvas {
    border-width: 10px;
    background-color: white;
    border-style: ridge;
    border-color: darkmagenta;
    background-image: url(BirthdayImage.jpg);
}
